<div class="container">
  <div class="text-center home">
    <img src="./images/zen_ocean_by_abdullahusman.jpg" class="img-responsive zen-stone">
    <h3>How are you feeling today?</h3>
    <a href="/meditations/mood/1" class="btn btn-primary btn-emotion">Stressed</a>
    <a href="/meditations/mood/2" class="btn btn-primary btn-emotion">Anxious</a>
    <a href="/meditations/mood/3" class="btn btn-primary btn-emotion">Angry</a>
    <a href="/meditations/mood/4" class="btn btn-primary btn-emotion">Sad</a>
    <a href="/meditations/mood/5" class="btn btn-primary btn-emotion">Lonely</a>
    <a href="/meditations/mood/6" class="btn btn-primary btn-emotion">Scared</a>
    <a href="/meditations/mood/7" class="btn btn-primary btn-emotion">Physical Pain</a>
    <a href="/meditations/mood/8" class="btn btn-primary btn-emotion">Guilt / Self-hatred</a>
  </div>
</div>

