/*home page styling*/

.zen-stone {
  margin: 0 auto;
  height: 300px;
}
.home {
  color: #5e5e5e;
}

.btn-emotion {
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.btn-primary{
  background-color: rgb(122,197,233);
  border-color: rgb(122,197,233);
  color: white;
}

/*timer styling*/
.timer {
  background-image: url('https://pomodorozen.files.wordpress.com/2009/07/zen-garden.jpg');
  background-size: cover;
  height: 500px;
}

.timer h1 {
  font-size: 10em;
}

.clock {
  vertical-align: middle;
  padding-top: 10%;
  color: white;
}
.clock-numbers {
 /* color:  rgb(220, 238, 252);*/
/*    color:  rgb(195, 222, 241);
      color:  rgb(15, 74, 125);*/
        color:  rgb(1, 37, 95);
}
/*mood page styling*/
.emotion-meditation{
  color: #5e5e5e;
}

.stones {
  margin: 0 auto;
}
/*navbar styling*/
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background-color: #B4DEDB;
  border-color: #B4DEDB;
  background-image: url('./app/images/sand-crop.jpg');
}
.navbar-default .navbar-brand {
    color: #5e5e5e;
    font-weight: bolder;
    font-size: 2em;
}

body {
/*  background-color: #79A4D5;*/
/*  background-color: #92C6FF;*/
background-color: rgb(197, 217, 232);
font-family: 'Lato', sans-serif;
}