/*home page styling*/

.zen-stone {
  margin: 0 auto;
  height: 300px;
  padding-bottom: 10%;
}

.home {
  color: #5e5e5e;
}

.btn-emotion {
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 1em;
}

.btn-primary{
  background-color: rgb(122,197,233);
  border-color: rgb(122,197,233);
  color: white;
  border-radius: 0;
}

/*timer styling*/

.timer {
  background-image: url('https://pomodorozen.files.wordpress.com/2009/07/zen-garden.jpg');
  background-size: cover;
  height: 500px;
}

.timer h1 {
  font-size: 10em;
}

.clock {
  vertical-align: middle;
  padding-top: 10%;
  color: white;
}

.clock-numbers {
  color:  rgb(1, 37, 95);
}

.btn {
  border-radius: 0;
}

/*mood page styling*/

.emotion-meditation{
  color: #5e5e5e;
}

.stones {
  margin: 0 auto;
}

.meditation-audio {
  width: 45%;
  height: 350px;
  display: inline-block;
  overflow: auto;
  margin-top: 1em;
  margin-left: 1em;
  background-color: rgba(255,255,255,0.3);
}

/*navbar styling*/

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background-color: rgba(180, 222, 219, .8);
}

.navbar-default .navbar-brand {
    color: #5e5e5e;
    font-weight: bolder;
    font-size: 2em;
}

.pull-left {
  margin-left: 4em;
}

.right-style {
  margin-right: 3em;
}

.sand-zen {
  margin: 0 auto;
  width: 60%;
}

body {
  background-color: rgb(197, 217, 232);
  font-family: 'Lato', sans-serif;
}

@media only screen and (max-device-width: 480px) {
  .meditation-audio {
    width: 98%;
    background-color: rgba(255,255,255,0.3);
    margin-left: 0;
  }

  .audio-control {
    padding-left: 0px;
    width: 90%;
  }

  .pull-left {
    margin-left: 1em;
  }

  .timer h1 {
    padding-top: 25%;
    padding-bottom: 10%;
    font-size: 7em;
  }
}